@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .bg-ai-gradient {
    background: linear-gradient(25deg, #d9476a 70%, #e4794b 3%, #fbe10b 60%);
    background-size: 200% 200%;
    animation: aiFlow 8s ease-in-out infinite alternate;
  }

  .border-ai-gradient {
    position: relative;
    background: linear-gradient(25deg, #d9476a 0%, #e4794b 40%, #fbe10b 100%);
    background-size: 200% 200%;
    animation: aiFlow 8s ease-in-out infinite alternate;
    padding: 2px;
    border-radius: 1rem;
  }

  @keyframes aiFlow {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
}
